version: '3.9'

services:
  # api:
  #   build:
  #     context: ..
  #     dockerfile: docker/Dockerfile
  #   container_name: nest_api
  #   ports:
  #     - "3000:3000"
  #   env_file:
  #     - ../.env.development
  #   depends_on:
  #     - postgres
  #   restart: unless-stopped

  postgres:
    image: postgres:18-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
  pgadmin:
    image: dpage/pgadmin4:9.8
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
    restart: unless-stopped


volumes:
  postgres_data:
  pgadmin_data:
